* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

body {
  box-sizing: border-box;
  background-color: aliceblue;
  position: relative;
}

header {
  height: 20dvh;
  background-image: url("assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
}

p,
.thanks-and-support {
  font-size: 16px;
  color: hsl(231deg 11% 63%);
  font-weight: 500;
  line-height: 1.6rem;
}

.steps {
  margin: 2rem 0;
}

.steps-number {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.button1,
.button2,
.button3,
.button4 {
  background-color: transparent;
  color: white;
  border: 2px solid rgb(190 190 190);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.button-1-content,
.button-2-content,
.button-3-content,
.button-4-content {
  display: none;
}

.button-glow {
  background-color: hsl(206deg 94% 87%);
  color: hsl(243deg 100% 62%);
  border: none;
}

.form-and-next-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.form-section {
  background-color: white;
  padding: 2rem 1.5rem;
  border-radius: 0.8rem;
  margin: 0 1rem;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form h2 {
  color: hsl(213deg 96% 18%);
}

form label {
  color: hsl(213deg 96% 18%);
  font-weight: 500;
}

form input {
  margin-top: 3px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 0.2rem;
  width: 100%;
  border: 1px solid hsl(231deg 11% 63%);
}

.next-step-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding: 0.8rem;
}

.next-step-button {
  color: white;
  font-weight: bold;
  border: none;
  background-color: hsl(213deg 96% 18%);
  padding: 0.8rem 1.1rem;
  border-radius: 5px;
}

.go-back-button {
  border: none;
  font-weight: bold;
  color: hsl(231deg 11% 63%);
  background-color: white;
}

.next-step-button:hover,
.go-back-button:hover {
  cursor: pointer;
}

/* CSS for Step 2 */

.choose-plan,
.pick-add-ons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.choose-plan input {
  display: none;
}

.plans {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 1.5rem 0;
}

.plan-options,
.pick-add-ons-options {
  display: flex;
  border: 2px solid hsl(231deg 11% 63%);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  gap: 1rem;
  align-items: center;
}

.plan-option-info p {
  line-height: 1.4rem;
}

.monthly-or-yearly {
  display: flex;
  background-color: aliceblue;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-radius: 5px;
  font-weight: bold;
}

.toggle,
.toggle2 {
  display: flex;
  background-color: hsl(213deg 96% 18%);
  height: 20px;
  width: 50px;
  border-radius: 1rem;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5px;
}

.shift-end {
  justify-content: flex-end;
}

.toggle::before,
.toggle2::before {
  position: absolute;
  content: "";
  background-color: white;
  height: 17px;
  width: 17px;
  border-radius: 50%;
}

.option-name-1,
.option-name-2,
.option-name-3 {
  color: hsl(213deg 96% 18%);
  font-weight: bold;
}

/* CSS for Step-3 */

.pick-add-ons-options {
  justify-content: space-between;
}

.combined {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.monthly-or-yearly input {
  display: none;
}

.pick-add-ons-input {
  height: 1.3rem;
  width: 1.3rem;
  accent-color: hsl(243deg 100% 62%);
}

.price-of-add-ons {
  color: hsl(243deg 100% 62%);
}

/* CSS for Step-4 */

.finishing-up-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.calculate-charges {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  padding: 1rem;
}

.mode,
.online-service,
.larger-storage,
.customizable-profile,
.total-bill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.mode-price {
  font-weight: 500;
}

.mode {
  padding-bottom: 0.7rem;
}

hr {
  border: 1px solid hsl(229deg 24% 87%);
}

.extra-services {
  display: flex;
  flex-direction: column;
  padding-top: 0.7rem;
  gap: 0.7rem;
}

.mode-name,
.mode-price,
.online-service-price,
.larger-storage-price,
.customizable-profile-price,
.two-months-free {
  color: hsl(213deg 96% 18%);
}

.total-bill {
  padding: 0 1.2rem;
}

.total-bill-price {
  color: hsl(243deg 100% 62%);
  font-weight: bold;
}

.thank-you-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}

.thank-you-image {
  width: 3.3rem;
}

.thank-you {
  font-weight: bolder;
  font-size: x-large;
  color: hsl(213deg 96% 18%);
}

.thanks-and-support {
  display: flex;
  flex-direction: column;
}

.hide-display {
  display: none;
}

.field-and-error {
  display: flex;
  justify-content: space-between;
}

.error-span {
  display: none;
  color: red;
  font-size: small;
}

.personal-info input:focus,
.plan-options:hover {
  border: 2px solid hsl(243deg 100% 62%);
  cursor: pointer;
}

.border-red {
  border: 2px solid red;
}

@media only screen and (min-width: 700px) {
  header {
    display: none;
  }

  main {
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-container {
    all: unset;
    display: flex;
    background-color: white;
    padding: 5px;
  }

  .steps {
    all: unset;
    display: flex;
    padding: 2rem 1rem;
    padding-right: 5rem;
    border-radius: 10px;
    flex-grow: 1;
    background-image: url("assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .steps-number li {
    display: flex;
    gap: 0.6rem;
    align-items: center;
  }

  .button-content-step {
    color: hsl(229deg 24% 87%);
    font-size: x-small;
    font-weight: lighter;
    line-height: 1rem;
  }

  .button-content-name {
    color: white;
    font-size: small;
    line-height: 1rem;
    min-width: max-content;
  }

  .form-and-next-step {
    border-radius: 0;
    padding: 2rem 4rem;
    padding-bottom: 1rem;
    justify-content: space-between;
  }

  .form-section {
    all: unset;
  }

  .button-1-content,
  .button-2-content,
  .button-3-content,
  .button-4-content {
    display: block;
  }

  .steps-number {
    gap: 1.3rem;
    flex-direction: column;
  }

  .next-step-container {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .next-step-button {
    padding: 0.6rem 0.9rem;
  }

  .choose-plan,
  .plan-options {
    gap: 0.3rem;
  }

  .thanks-and-support {
    max-width: 30vw;
  }
}
